<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='Proyecto de Video Conferencia con WebRTC' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src='/js/home.js'></script>
		<link rel="stylesheet" type="text/css" href="/css/home.css" media="screen" />
		<title>Video Conferencia: Creacion de Salas</title>
	</head>
	<body>
        <main id="container">
			<section id="success">
				<div class="container">
					<div id="room-link"><a id="room-url" target="_blank"></a></div>
					<br>
					<div class="bubble">
						<h4>Enlace para ingresar</h4>
						<br><br>
						<span>Copie este link para invitar a otros usuarios y hagale click para ingresar a la sala.
	                    </span>
	                </div>
                </div>
	    	</section>
        </main>
	</body>
</html>
